<h1>温泉日記</h1>
<h3>Hotspring詳細</h3>
<div class="hotspring">
  <p><%= @hotspring.created_at %></p>
  <% if user_signed_in? %>
    <% if current_user.already_liked?(@hotspring) %>
      <%= link_to hotspring_like_path(@hotspring), method: :delete do %>
        <p>いいねを取り消す</p><%= @hotspring.likes.count %>
      <% end %>
    <% else %>
      <%= link_to hotspring_likes_path(@hotspring), method: :post do %>
        <p>いいね</p><%= @hotspring.likes.count %>
      <% end %>
    <% end %>
  <% else %>
    <p>いいねの数 = </p><%= @hotspring.likes.count %>
  <% end %>
  <%= link_to "編集する", edit_hotspring_path(@hotspring.id) %>
</div>

<h2>いいねしたユーザー</h2>
<% @hotspring.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>
<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.email unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>
  <div class="image-top">
  <%= image_tag @hotspring.resize_image_top if @hotspring.image_top.attached? %>
</div>

  <% if user_signed_in? %>
    <%= form_with(model: [@hotspring, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>
<%= link_to "Hotspring一覧に戻る", hotsprings_path %>
<%= link_to "編集する", edit_hotspring_path(@hotspring.id) %>