<div id="top">
    <h1>温泉日記</h1>
    <div class="background">
    </div>
    <div class="image">
        <div class="image_wrap">
            <ul class="image_list image_list--left">
                <li class="image_item"><%= image_tag '0003629534_kusatsu_couple_MV.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag 'J19986.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag 'onsen0037797.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag 'o4001277001-1-1.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag '20181203ta02.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag 'af3ad990-089a-4b41-a529-a6e8c8d0c63a_l.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
            </ul>
            <ul class="image_list image_list--left">
                <li class="image_item"><%= image_tag '0003629534_kusatsu_couple_MV.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag 'J19986.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag 'onsen0037797.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag 'o4001277001-1-1.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag '20181203ta02.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag 'af3ad990-089a-4b41-a529-a6e8c8d0c63a_l.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
            </ul>
        </div>
    </div>

    <%= link_to "一覧ページへ", hotsprings_path %>
</div>