<div id="top">
    <div class="background">
    </div>
    <div class="image">
        <div class="image_wrap">
            <ul class="image_list image_list--left">
                <li class="image_item"><%= image_tag '0003629534_kusatsu_couple_MV.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag 'J19986.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag 'onsen0037797.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag 'o4001277001-1-1.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag '20181203ta02.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag 'af3ad990-089a-4b41-a529-a6e8c8d0c63a_l.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
            </ul>
            <ul class="image_list image_list--left">
                <li class="image_item"><%= image_tag '0003629534_kusatsu_couple_MV.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag 'J19986.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag 'onsen0037797.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag 'o4001277001-1-1.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag '20181203ta02.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
                <li class="image_item"><%= image_tag 'af3ad990-089a-4b41-a529-a6e8c8d0c63a_l.jpg', :class=>"cat-icon", :alt => 'mentor' %></li>
            </ul>
        </div>
    </div>
    <div class="background2">
        <div class="setumei">
            温泉選びに悩んだ経験はありませんか？
            <br><br><br>
            日本では温泉施設の数が非常に多く、20,000件を超えます。
            <br><br><br>
            またこの数字は日本の47都道府県すべてに、<br><br>
            温泉地や温泉の宿泊施設があるということにもなります。
            <br><br><br>
            そこで「温泉日記」を使って条件に合う新たな温泉と出会い、<br><br>
            行った記録を残しませんか♨
        </div>
    </div>
</div>